body {
    background-color: #F5F5F5;
    font-family: "Poppins", sans-serif;
    color: #353535;
}

canvas {
    width: 100%;
    height: 100%;
}

#dash-title {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 30px;
}

.dashboard {
    width: 90vw;
    margin-left: 2.5vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.3fr 1fr 1fr 1fr;
    gap: 50px 50px;
    grid-auto-flow: row;
    grid-template-areas:
        "artigos_por_edicao artigos_por_idioma"
        "ranking_instituicoes ranking_autore"
        "nuvem_palavras artigos_por_estado"
        "artigos_premiados artigos_premiados"
        "artigos_por_categorias artigos_por_categorias"
        "artigos_por_categorias artigos_por_categorias"
        "artigos_por_categorias artigos_por_categorias";
}

.artigos_premiados {
    grid-area: artigos_premiados;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.artigos_por_edicao {
    grid-area: artigos_por_edicao;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.artigos_por_idioma {
    grid-area: artigos_por_idioma;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.ranking_instituicoes {
    grid-area: ranking_instituicoes;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.ranking_autore {
    grid-area: ranking_autore;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.nuvem_palavras {
    grid-area: nuvem_palavras;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.artigos_por_estado {
    grid-area: artigos_por_estado;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.artigos_por_categorias {
    grid-area: artigos_por_categorias;
}

.graph-header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.title {
    font-size: large;
}

.info-icon {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.paper-table {
    border-collapse: collapse;
    width: 100%;
}

.paper-table thead {
    text-align: left;
    background: linear-gradient(to right, #0078D0, #0595FD);;
    padding: 10px;
    height: 50px;
    border: 0px solid #FFFFFF;
    font-size: large;
}

.paper-table thead tr {
    border-bottom: 0px solid #FFFFFF;
}

.paper-table th {
    color: #FFFFFF;
    text-align: center;
}

.paper-table td {
    text-align: center;
    padding: 10px;
}

.paper-table tr {
    border-bottom: 2px solid #0595FD;
}

.paper-table th td {
    padding: 10px 15px;
}

.paper-table td:nth-child(4) {
    width: 40%;
}

.paper-table td:nth-child(2) {
    width: 30%;
    border-left: 2px solid rgba(0, 0, 0, .5);
    border-right: 2px solid rgba(0, 0, 0, .5);
}

.paper-table td:nth-child(3) {
    width: 10%;
    border-left: 2px solid rgba(0, 0, 0, .5);
    border-right: 2px solid rgba(0, 0, 0, .5);
}

.paper-table td:nth-child(4) {
    width: 20%;
}

.pagination-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.pagination-section span {
    margin-left: 15px;

}

.pag-year-button {
    background-color: #0595FD;
    color: #FFFFFF;
    font-size: 12pt;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
}

.donnuts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
    "abordagem objetivo procedimentos"
    "coleta-de-dados dados-quantitativos dados-qualitativos";
}

.donnuts > div {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.abordagem {
    grid-area: abordagem;
}

.objetivo {
    grid-area: objetivo;
}

.procedimentos {
    grid-area: procedimentos;
}

.coleta-de-dados {
    grid-area: coleta-de-dados;
}

.dados-quantitativos {
    grid-area: dados-quantitativos;
}

.dados-qualitativos {
    grid-area: dados-qualitativos;
}

.graph-display {
    position: relative;
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltip-text {
    text-align: left;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fefefe;
    color: #333;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    transition: opacity 0.1s, visibility 0.1s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}
