{% extends 'root_layout.html' %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script type="module" src="{{ url_for('static', filename='javascript/graphs_generator.js') }}"></script>
{% endblock %}

{% block content %}
    <main>
        <div class="dashboard">
            <h1 id="dash-title">Dashboard</h1>

            <div class="container">
                <div class="artigos_premiados">
                    <div class="graph-header">
                        <span class="title">Artigos premiados</span>
                        <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                    </div>
                    <table class="paper-table">
                        <thead>
                        <tr>
                            <th>Título</th>
                            <th>Autores</th>
                            <th>Premiação</th>
                            <th>Link para o artigo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for edition_papers in statistics.award_winning_papers %}
                            {% for paper in edition_papers['Papers'] %}
                                <tr style="display: none" class="paper-from-{{ edition_papers['Year'] }}">
                                    <td>{{ paper['Title'] }}</td>
                                    {% if paper['Authors'] | length > 2 %}
                                        <td>{{ paper['Authors'][0]['Name'] }}
                                            ({{ paper['Authors'][0]['Institution_acronym'] }})
                                            <div class="tooltip">
                                                <i>et al.</i>
                                                <div class="tooltip-text">
                                                    <ul>
                                                        {% for author in paper['Authors'][1:] %}
                                                            <li>{{ author['Name'] }}
                                                                ({{ author['Institution_acronym'] }})
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    {% elif paper['Authors'] | length == 2 %}
                                        <td>{{ paper['Authors'][0]['Name'] }}
                                            ({{ paper['Authors'][0]['Institution_acronym'] }})
                                            e {{ paper['Authors'][1]['Name'] }}
                                            ({{ paper['Authors'][1]['Institution_acronym'] }})
                                        </td>
                                    {% else %}
                                        <td>{{ paper['Authors'][0]['Name'] }}
                                            ({{ paper['Authors'][0]['Institution_acronym'] }})
                                        </td>
                                    {% endif %}
                                    <td>{{ paper['Award'] }}</td>
                                    <td><a target="_blank" href="{{ paper['Download_link'] }}">🔍 Acessar artigo</a></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination-section">
                        <span style="cursor: pointer" onclick="table_before_page()" id="before"><</span>
                        {% for edition in statistics.award_winning_papers %}
                            <button onclick="paginate_papers_table(this, {{ edition['Year'] }})"
                                    class="pag-year-button"
                                    id="button-{{ edition['Year'] }}">{{ edition['Year'] }}</button>
                        {% endfor %}
                        <span style="cursor: pointer" onclick="table_next_page()" id="next">>></span>
                    </div>
                </div>
                <div class="artigos_por_edicao">
                    <div class="graph-header">
                        <span class="title">Artigos por ano (edição)</span>
                        <div class="tooltip">
                            <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            <div class="tooltip-text">
                                Este gráfico mostra a quantidade de<br>
                                artigos publicados em cada edição do<br>
                                WASHES ao longo dos anos.
                            </div>
                        </div>
                    </div>
                    <canvas id="artigos-por-edicao"></canvas>
                </div>
                <div class="artigos_por_idioma">
                    <div class="graph-header">
                        <span class="title">Artigos por idioma</span>
                        <div class="tooltip">
                            <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            <div class="tooltip-text">
                                Este gráfico mostra a evolução do número<br>
                                de artigos escritos em português e em inglês<br>
                                ao longo dos anos nas edições do WASHES.
                            </div>
                        </div>
                    </div>
                    <canvas id="artigos-por-idioma"></canvas>
                </div>
                <div class="ranking_instituicoes">
                    <div class="graph-header">
                        <span class="title">Ranking de instituições</span>
                        <div class="tooltip">
                            <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            <div class="tooltip-text">
                                Este gráfico mostra um ranking das instituições dos<br>
                                participantes do WASHES, organizado pela quantidade de<br>
                                artigos publicados em cada edição do evento. Para cada artigo<br>
                                foi considerando a instituição do primeiro autor.
                            </div>
                        </div>
                    </div>
                    <canvas id="raking-institutions"></canvas>
                </div>
                <div class="ranking_autore">
                    <div class="graph-header">
                        <span class="title">Ranking de autores</span>
                        <div class="tooltip">
                            <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            <div class="tooltip-text">
                                Este gráfico exibe um ranking dos autores com<br>
                                maior número de artigos publicados nas edições<br>
                                do WASHES.
                            </div>
                        </div>
                    </div>
                    <canvas id="raking-authors"></canvas>
                </div>
                <div class="nuvem_palavras">
                    <div class="graph-header">
                        <span class="title">Palavras-chave por edição</span>
                        <div class="tooltip">
                            <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            <div class="tooltip-text">
                                Esta nuvem de palavras destaca as palavras-chave<br>
                                mais frequentes, considerando todas as edição do<br>
                                WASHES, extraídas das palavras-chave dos artigos<br>
                                publicados.
                            </div>
                        </div>
                    </div>
                    <canvas id="nuvem-de-palavras"></canvas>
                </div>
                <div class="artigos_por_estado">
                    <div class="graph-header">
                        <span class="title">Artigos publicados por estado</span>
                        <div class="tooltip">
                            <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            <div class="tooltip-text">
                                Este gráfico apresenta a quantidade de artigos<br>
                                publicados por estado, considerando o estado de<br>
                                origem do primeiro autor de cada artigo nas edições<br>
                                do WASHES.
                            </div>
                        </div>
                    </div>
                    <canvas id="papers_per_state"></canvas>
                </div>
                <div class="artigos_por_categorias">
                    <div class="donnuts">
                        <div class="abordagem">
                            <div class="graph-header">
                                <span class="title">Artigos por abordagem</span>
                                <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            </div>
                            <canvas id="artigos-por-abordagem"></canvas>
                        </div>
                        <div class="objetivo">
                            <div class="graph-header">
                                <span class="title">Artigos por objetivo</span>
                                <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            </div>
                            <canvas id="artigos-por-objetivo"></canvas>
                        </div>
                        <div class="procedimentos">
                            <div class="graph-header">
                                <span class="title">Artigos por procedimentos</span>
                                <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            </div>
                            <canvas id="artigos-por-procedimentos"></canvas>
                        </div>
                        <div class="coleta-de-dados">
                            <div class="graph-header">
                                <span class="title">Artigos por método de coleta de dados</span>
                                <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            </div>
                            <canvas id="artigos-por-coleta-dados"></canvas>
                        </div>
                        <div class="dados-quantitativos">
                            <div class="graph-header">
                                <span class="title">Artigos por método de análise de dados quantitativos</span>
                                <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            </div>
                            <canvas id="artigos-por-quantitativos"></canvas>
                        </div>
                        <div class="dados-qualitativos">
                            <div class="graph-header">
                                <span class="title">Artigos por método de análise de dados qualitativos</span>
                                <img class="info-icon" src="{{ url_for('static', filename='images/info-icon.png') }}">
                            </div>
                            <canvas id="artigos-por-qualitativos"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        let active_edition = 0
        let active_button = null

        function paginate_papers_table(button, edition) {
            if (edition === active_edition) {
                return
            }

            const new_tables_lines = document.getElementsByClassName(`paper-from-${edition}`)
            const old_table_lines = document.getElementsByClassName(`paper-from-${active_edition}`)
            for (const table_row of old_table_lines) {
                table_row.style.display = 'none'
                if (active_button)
                    active_button.style.backgroundColor = '#0595FD'
            }
            for (const table_row of new_tables_lines) {
                table_row.style.display = ''
                button.style.backgroundColor = '#2662F0'
            }
            active_edition = edition
            active_button = button
        }

        function table_next_page() {
            const e = document.getElementById(`button-${active_edition + 1}`)
            if (e)
                paginate_papers_table(e, active_edition + 1)
        }

        function table_before_page() {
            const e = document.getElementById(`button-${active_edition - 1}`)
            if (e)
                paginate_papers_table(e, active_edition - 1)
        }

        document.addEventListener("DOMContentLoaded", () => {
            paginate_papers_table(
                document.getElementById('button-{{ statistics.award_winning_papers[0]['Year'] }}'),
                {{ statistics.award_winning_papers[0]['Year'] }}
            )

            const papers_editions = document.getElementById("artigos-por-edicao")
            const papers_languages = document.getElementById("artigos-por-idioma")
            const institutions_ranking = document.getElementById("raking-institutions")
            const authors_ranking = document.getElementById("raking-authors")
            const paper_per_approach = document.getElementById("artigos-por-abordagem")
            const paper_per_objective = document.getElementById("artigos-por-objetivo")
            const paper_per_procedure = document.getElementById("artigos-por-procedimentos")
            const paper_per_data_collection = document.getElementById("artigos-por-coleta-dados")
            const paper_per_quantitative = document.getElementById("artigos-por-quantitativos")
            const paper_per_qualitative = document.getElementById("artigos-por-qualitativos")
            const cloud_words = document.getElementById("nuvem-de-palavras")
            const publications_per_state = document.getElementById("papers_per_state")


            const authors = {{ statistics.authors_rank()[:10] | tojson }};
            insert_horizontal_bar_chart(authors_ranking, {
                'labels': authors.map(author => author.Name),
                'data': authors.map(author => author.Papers.length),
                'rank': true,
            })

            const editions = {{ statistics.publications_by_years()[:10] | tojson }}
            insert_horizontal_bar_chart(papers_editions, {
                'labels': editions.map((edition, index) => `${edition.year} (${index + 1}°)`),
                'data': editions.map(edition => edition.publications),
            })

            const institutions = {{ statistics.institution_rank()[:10] | tojson }}
            insert_horizontal_bar_chart(institutions_ranking, {
                'labels': institutions.map(institution => institution.institution),
                'data': institutions.map(institution => institution.publications),
                'rank': true,
            })

            const words = {{ statistics.keywords_cloud()[:20] | tojson }}
            insert_cloud_word_chart(cloud_words, {
                'labels': words.map(word => word.keyword),
                'data': words.map(word => (parseInt(word.count) * 10)),
            })

            const states = {{ statistics.states_rank() | tojson }}
            insert_brazil_map_chart(publications_per_state, states.reduce((acc, item) => {
                acc[item.state] = item.publications;
                return acc;
            }, {}))

            const languages = {{ statistics.publications_by_years_by_languages() | tojson }}
            insert_line_chart(papers_languages, {
                'labels': languages.data.map(language => language.year),
                'langs': languages.langs,
                'data': languages.data,
            })

            insert_radar_chart(paper_per_approach)
            insert_radar_chart(paper_per_objective)
            insert_radar_chart(paper_per_procedure)
            insert_radar_chart(paper_per_data_collection)
            insert_radar_chart(paper_per_quantitative)
            insert_radar_chart(paper_per_qualitative)
        })
    </script>
{% endblock %}