<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>dataWASHES</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/swagger_ui.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}

    {% endblock %}
</head>
<body>
<!-- Navbar -->
<nav>
    <div id="menu-icon" onclick="toggleMenu()">&#9776;</div>
    <ul id="navbar">
        <li id="logo-conteiner">
            <a href="{{ url_for('swagger_template') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo dataWASHES" height="38px">
            </a>
        </li>
        {% if request.endpoint == 'dashboard' %}
            <li><a href="{{ url_for('swagger_template') }}" class="nav-link">API</a></li>
        {% else %}
            <li><a href="#motivation" class="nav-link">API</a></li>
        {% endif %}
        <li><a href="{{ url_for('dashboard') }}" class="nav-link">Dashboard</a></li>
        <li><a href="https://youtu.be/KXjFx9ddqPQ" class="nav-link" target="_blank">Tutorial</a></li>
        <li><a href="https://github.com/gesid/dataWASHES/" class="nav-link" target="_blank">GitHub</a></li>
        <li><a href="https://sites.google.com/view/washes-series/" class="nav-link"
               target="_blank">WASHES</a></li>
    </ul>
</nav>

{% block content %}

{% endblock %}

{% block footer %}
<footer>
    <div class="footer-content">
        <div class="footer-left">
            <a href="{{ url_for('swagger_template') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo dataWASHES" height="30px">
            </a>
            <p class="footer-copy-text"><a href="https://choosealicense.com/licenses/mit/" target="_blank">MIT License</a> &copy; 2016 – 2026</p>
        </div>
        <div class="footer-right">
            <a href="https://github.com/gesid/dataWASHES/" target="_blank">GitHub</a>
            <a href="https://sol.sbc.org.br/index.php/washes" target="_blank">SBC OpenLib</a>
            <a href="https://sites.google.com/view/washes-series/" target="_blank">WASHES</a>
            <a href="https://gesid.github.io/" target="_blank">GESID</a>
        </div>
    </div>
</footer>
{% endblock %}
<script>
function toggleMenu() {
    var navbar = document.getElementById("navbar");
    if (navbar.style.display === "flex") {
        navbar.style.display = "none";
    } else {
        navbar.style.display = "flex";
    }
}
</script>
</body>
</html>